/* .ChatStatusRoot {
  display: flex;
  column-gap: 7px;
  align-items: center;
  flex-direction: row;
  margin-bottom: 5px;
} */
.ChatStatusRoot {
  width: 0.8em;
  height: 0.8em;
  position: absolute;
  right: 22px;
  bottom: 18px;
  z-index: 1000;
}
